# Ignore directories
/build
/release
/misc
/qtc-gdbmacros
/build-mytetra-Desktop_Qt_5_7_0_MSVC2015_64bit-Profile
/build-mytetra-Desktop_Qt_5_7_0_MSVC2015_64bit-Release
/build-mytetra-Desktop_Qt_5_7_0_MSVC2015_64bit-Debug
Makefile
qdevelop-settings.db
qrc_mytetra.cpp
mytetra.pro.user*

/bin/*
!/bin/resource
!/bin/resource/*
!/bin/mytetra.qrc
!/bin/icons.qrc


# Ignore compiled Object files
*.slo
*.lo
*.o

# Ignore compiled Dynamic libraries
*.so

# Ignore compiled Static libraries
*.lai
*.la
*.a

# Ignore bash files
*.sh

# Ignore php tech files
/src/*.php

# Ignore IDE files
*.Debug
*.Release

# Ignore gitignore self
.gitignore
